MTXM_PORT=8790
MTXM_BIND_HOST=127.0.0.1
# MTXM_API_TOKEN=
MTXM_DEFAULT_SIGNER_ID=platform-signer-01
# MTXM_DEFAULT_SIGNER_PUBKEY_B64=<base64 32-byte Ed25519 pubkey>
SUI_TESTNET_RPC=https://fullnode.testnet.sui.io:443
