INDEXER_PORT=8791
INDEXER_BIND_HOST=127.0.0.1
SUI_CHAIN_ID=202
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
ESCROW_PACKAGE_ID=0xYOUR_ESCROW_PACKAGE_ID
POLL_INTERVAL_MS=12000
INDEXER_WEBHOOK_SECRET=whsec_rotate_before_production
